[Unit]
Description = Kakomimasu apiserver
Documentation = https://github.com/codeforkosen/Kakomimasu
After = network.target

[Service]
Environment = HOME=/root
Environment = PATH=/root/.deno/bin
ExecStart = /root/.deno/bin/deno run -A /root/Kakomimasu/apiserver/apiserver.ts
Restart=always

[Install]
WantedBy = multi-user.target
