.separation {
  border: solid 3px var(--kakomimasu-color);
  margin: 10px;
  margin-top: 50px;
  position: relative;
  padding: 30px 30px 20px 30px;
  width: 100%;
}

.separation h2 {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 0 10px;
  margin: 0;
  transform: translateY(-50%);
  background-color: white;
  color: #5C4C40;
}

.separation h3 {
  font-size: 0.8em;
  border-bottom: solid 2px var(--codeforkosen-color);
  margin: 0 auto;
  padding: 0 5px;
  display: inline-block;
  color: #5C4C40;
}