@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
}

#h-wrapper {
    /*max-width: 1000px;
    */
    width: 100%;
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#h-logo,
#h-githubLogo,
#h-user {
    height: 100%;
    display: flex;
    align-items: center;
}

#h-wrapper img {
    height: 50px;
}

#h-navWrapper {
    display: flex;
    align-items: center;
}

#h-tab ul {
    list-style: none;
    display: flex;
}

#h-tab li {
    width: 7em;
}

#h-tab a:link,
#h-tab a:visited,
#h-tab a:hover,
#h-tab a:active {
    text-decoration: none;
    color: black;
}

#h-navWrapper>a {
    margin-left: 10px;
    margin-right: 10px;
}

#h-navWrapper #h-githubLogo img,
#h-navWrapper #h-user img {
    height: 32px;
}

#h-tab {
    margin-right: 3em;
}

#title {
    text-align: center;
}

footer {
    margin-top: 1em;
    background-color: #ffd595;
    text-align: center;
    padding: 0.5em 0;
}

[v-cloak] {
    visibility: hidden;
}