@import url(./c_separation.css);

main>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #title {
  width: 60vw;
  max-width: 500px;
  margin: 2em;
  display: block;
}

main a {
  color: #5C4C40;
}