#vue-field-table,
#vue-field-table td,
th {
    border: 1px solid;
}

#vue-field-table {
    border-collapse: collapse;
    user-select: none;
}

#vue-field-table th,
td {
    padding: 5px;
}

#vue-field-table td {
    width: 50px;
    height: 50px;
    text-align: right;
    vertical-align: bottom;
    white-space: pre-line;
    --bg-color: #FFFFFF;
    background-color: var(--bg-color);
    position: relative;
}

#vue-field-table .agent {
    background-size: 80%;
    background-position: 0%, 50%;
    background-repeat: no-repeat;
}

#vue-field-table .agent1 {
    background-image: url(/img/agent1.png);
}

#vue-field-table .agent2 {
    background-image: url(/img/agent2.png);
}

#vue-field-table .agent3 {
    background-image: url(/img/agent3.png);
}

#vue-field-table .agent4 {
    background-image: url(/img/agent4.png);
}

#vue-field-table .p1Wall {
    background-color: #0096FF !important;
}

#vue-field-table .p2Wall {
    background-color: #FF0200 !important;
}

#vue-field-table .p3Wall {
    background-color: mediumpurple !important;
}

#vue-field-table .p4Wall {
    background-color: darkorange !important;
}

#vue-field-table .p1Area {
    background-color: #80C9FF !important;
}

#vue-field-table .p2Area {
    background-color: #FE9998 !important;
}

#vue-field-table .p3Area {
    background-color: #B8ABD6 !important;
}

#vue-field-table .p4Area {
    background-color: #FFCF99 !important;
}

#vue-field-table .conflict {
    animation: vue-field-flash 1s linear infinite;
}

#vue-field-table .striket {
    text-decoration: line-through;
    color: red;
}

#vue-field-table .detail {
    display: none;
    pointer-events: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    transform: translate(+0%, -100%);
    padding: 1em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
}

#vue-field-table .detail {
    width: max-content;
}

#vue-field-table .p1Wall>.detail {
    border: solid 4px #0096FF;
}

#vue-field-table .p2Wall>.detail {
    border: solid 4px #FF0200;
}

#vue-field-table .p3Wall>.detail {
    border: solid 4px mediumpurple;
}

#vue-field-table .p4Wall>.detail {
    border: solid 4px darkorange;
}

#vue-field-table td:hover>.detail {
    display: block;
}

@keyframes vue-field-flash {

    0%,
    100% {}

    50% {
        background-color: #00ff00;
    }
}