<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

        <link rel="stylesheet" href="/css/vue-util.css">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="/img/kakomimasu-icon.png">
        <link rel="apple-touch-icon" href="/img/kakomimasu-icon.png">

        <title>ゲーム詳細 - 囲みマス</title>
    </head>

    <body>
        <header id="header"></header>
        <h1 id="title">ゲーム詳細</h1>
        <div id="nogame" hidden>
            <p>ゲームが存在しません。5秒後にゲーム一覧に戻ります。<a href="/gamelist.html">今すぐ戻る</a></p>
        </div>
        <div>
            <h4 id="now-time" v-cloak>現在時刻：{{ nowTime }}</h4>
            <table id="game-table" v-cloak>
                <tr>
                    <th>ボード名</th>
                    <th>ルームID</th>
                    <th>ステータス</th>
                    <th>開始時刻</th>
                </tr>
                <tr>
                    <td>{{ game.boardName }}</td>
                    <td>{{ game.gameId }}</td>
                    <td>{{ game.status }}</td>
                    <td>{{ game.startTime }}</td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 10px; text-align: center;" id="field">
            <div v-for="(p,i) in players" :style="{'order':i}" class="player-info">
                <table>
                    <tr>
                        <th><span :class="'p' + (i+1)">プレイヤー名</span></th>
                        <td><a :href="p.link">{{ p.screenName }}</a></td>
                    </tr>
                    <tr>
                        <th><span :class="'p' + (i+1)">配置済みAgent数</span></th>
                        <td>{{ p.placedAgentNum }}</td>
                    </tr>
                    <tr>
                        <th><span :class="'p' + (i+1)">未配置Agent数</span></th>
                        <td>{{ p.notPlacedAgentNum }}</td>
                    </tr>
                </table>
            </div>
            <div style="margin: auto;display: inline-block;"
                :style="{'grid-row':'span '+ Math.ceil(players.length / 2)}">
                <div id="field-info" style="position:relative;height: 30px;min-width: 16em;" v-cloak>
                    <h4 v-if="turn !== '-'" id="field-turn">{{ turn }}</h4>
                    <h4 v-if="turn !== '-'" id="field-point">
                        <span v-for="(item, index) in pPoint">
                            <span :class="[`p${index+1}`]">{{ item }}</span>
                            <span v-if="index < pPoint.length - 1">:</v-if>
                            </span>
                    </h4>
                    <h4 v-if="turn === '-'" id="field-point">{{ status }}</h4>
                    <h4 v-if="turn !== '-'" id="field-nextTurnTime">{{ status }}</h4>
                </div>
                <div id="field-table">
                    <field-table ref="table"></field-table>
                </div>
            </div>
        </div>
        <div id="graph-div">
            <canvas id="graph"></canvas>
        </div>
        <div style="text-align: right">
            <a id="vr-link">VR版</a>
        </div>
        <footer id="footer"></footer>

        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js';

            import { Game, getUrlQueries, userShow, getGameInfo, nowUnixTime, getTurnText } from "/js/util.js";

            var pointChart = new Chart(graph, {
                type: "line",
                data: {
                    labels: [],
                    datasets: [],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMax: 100,
                                suggestedMin: 0,
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }],
                    },
                    elements: {
                        line: {
                            tension: 0, // ベジェ曲線を無効にする
                        },
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false
                },
            });

            const VGameInfo = new Vue({
                el: "#game-table",
                data: {
                    game: new Game(),
                },
                methods: {
                    update: function (game) {
                        const [status, startTime, boardName] = Game.getGameStatus(game);
                        this.game.gameId = game.gameId;
                        this.game.status = status;
                        this.game.startTime = startTime;
                        this.game.boardName = boardName;
                    },
                },
            });

            import { VFieldInfo } from "./js/vue-comp/field.js";

            const gameId = getUrlQueries().id;
            let game;
            let socket;
            let nowGameId = null;
            if (gameId) {
                document.getElementById("vr-link").href = "./vr/index.html?id=" + gameId;
                socket = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/api/ws/game/" + gameId);

                socket.onmessage = (event) => {
                    game = JSON.parse(event.data);
                    console.log(game);
                    update(game);
                }
            } else {
                document.getElementById("vr-link").href = "./vr/latest.html";
                socket = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/api/allGame");

                socket.onmessage = (event) => {
                    const games = JSON.parse(event.data);
                    //console.log(games);

                    if (games[0].length > 0) {
                        game = games[0].reverse()[0];
                        console.log(game);

                        if (nowGameId === null) {
                            nowGameId = game.gameId;
                        }
                        if (nowGameId !== game.gameId) {
                            location.reload();
                        }
                        update(game);
                    }
                }
            }
            socket.onopen = (event) => {
                console.log("ws connected");
            }
            socket.onerror = (event) => {
                console.log('ws wrror', event);
            }
            socket.onclose = (event) => {
                console.log('ws close', event);
            }
            setInterval(function updateStatus() {
                if (game) {
                    if (game.startedAtUnixTime === null) VFieldInfo.status = "ゲーム開始までお待ちください...";
                    else if (nowUnixTime() < game.startedAtUnixTime) VFieldInfo.status = `ゲーム開始まで${game.startedAtUnixTime - nowUnixTime()}秒`;
                    else if (nowUnixTime() < game.nextTurnUnixTime) VFieldInfo.status = `次のターンまで${game.nextTurnUnixTime - nowUnixTime()}秒`;
                    else if (!game.ending) VFieldInfo.status = "競合チェック中...";
                    else VFieldInfo.status = "ゲーム終了";
                }
                return updateStatus;
            }(), 100);

            async function update(game) {
                VGameInfo.update(game);
                VFieldInfo.update(game);
                for (let i = 0; i < game.players.length; i++) {
                    if (pointChart.data.datasets[i] !== undefined) {
                        pointChart.data.datasets[i].label = this.players[i].screenName;
                    }
                }
                //pointChart.update();

                for (let i = 0; i < game.players.length; i++) {
                    if (pointChart.data.datasets[i] === undefined) {
                        pointChart.data.datasets[i] = {
                            label: "",
                            data: [0],
                            borderColor: ["rgba(0,0,255,1)", "rgba(255,0,0,1)", "mediumpurple", "darkorange"][i],
                            backgroundColor: "rgba(0,0,0,0)"
                        };
                    }
                }
                if (game.startedAtUnixTime === null) return;

                VFieldInfo.tableInit(game);

                // グラフの設定
                pointChart.options.scales.xAxes[0].ticks.max = game.totalTurn;
                for (let i = 0; i <= game.totalTurn; i++) {
                    pointChart.data.labels[i] = i;
                }
                pointChart.update();
                // FieldInfoの設定
                VFieldInfo.turn = getTurnText(game);
                for (let i = 0; i < game.players.length; i++) {
                    Vue.set(VFieldInfo.pPoint, i, game.players[i].point.basepoint + game.players[i].point.wallpoint);
                }

                // グラフ更新
                game.log.forEach((t, tIdx) => {
                    t.forEach((p, pIdx) => {
                        const point = p.point.basepoint + p.point.wallpoint;
                        pointChart.data.datasets[pIdx].data[tIdx + 1] = point;
                    });
                });

                pointChart.update();

                //return game;
            }

            new Vue({
                el: "#now-time",
                data: {
                    nowTime: "",
                },
                mounted: function () {
                    this.getNowTime();
                    setInterval(this.getNowTime, 1000);
                },
                methods: {
                    getNowTime: function () {
                        this.nowTime = new Date().toLocaleString("ja-JP");
                    },
                },
            });
        </script>

        <script type="module" src="js/vue-comp/common.js"></script>
    </body>

</html>

<style>
    table,
    td,
    th {
        border: 1px solid;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
    }

    th,
    td {
        padding: 5px;
    }

    #nogame {
        color: red;
        text-align: center;
    }

    #field-turn,
    #field-point,
    #field-nextTurnTime {
        position: absolute;
        margin: 0;
        bottom: 0;
        width: 100%;
    }

    #field-turn {
        text-align: left;
    }

    #field-point {
        text-align: center;
    }

    #field-nextTurnTime {
        text-align: right;
    }

    #now-time {
        text-align: center;
    }

    #field-info {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        height: auto;
    }

    #field-info>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #field-info>div:last-child {
        grid-row: 1 / -1;
        grid-column: 2;
    }

    #field-info .player-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width:1000px) {
        #field-info {
            grid-template-columns: 1fr 1fr;
        }

        #field-info div:last-child {
            order: -1;
            grid-row: 1;
            grid-column: 1/3;
        }
    }

    .p1 {
        color: blue;
    }

    .p2 {
        color: red;
    }

    .p3 {
        color: mediumpurple;
    }

    .p4 {
        color: orange;
    }

    #graph-div {
        margin: 50px;
    }

    #graph {
        height: 200px;
    }
</style>